
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  <!------ Include the above in your HEAD tag ---------->

    <body>
      
   
 
  <div class="container" >
    
      <br><br><br><br><br>
      <br><hr>
     
      <div style="width: 100%;">
      <h1 style="color: white;background-color: black;"> Your Current Plan </h1></div><hr>
      <div class="row">
 &nbsp;&nbsp;&nbsp;&nbsp;
 &nbsp;&nbsp;&nbsp;&nbsp;
 &nbsp;&nbsp;&nbsp;&nbsp;
 &nbsp;&nbsp;&nbsp;&nbsp;
 &nbsp;&nbsp;&nbsp;&nbsp;
 &nbsp;&nbsp;&nbsp;&nbsp;
 &nbsp;&nbsp;&nbsp;&nbsp;
 &nbsp;&nbsp;&nbsp;&nbsp;
 &nbsp;&nbsp;&nbsp;&nbsp;
 &nbsp;&nbsp;&nbsp;&nbsp;
 &nbsp;&nbsp;&nbsp;&nbsp;
 &nbsp;&nbsp;&nbsp;&nbsp;
 &nbsp;&nbsp;&nbsp;&nbsp;
 &nbsp;&nbsp;&nbsp;&nbsp;
 &nbsp;&nbsp;&nbsp;&nbsp;
 &nbsp;&nbsp;&nbsp;&nbsp;
 &nbsp;&nbsp;&nbsp;&nbsp;
 &nbsp;&nbsp;&nbsp;&nbsp;
 &nbsp;&nbsp;&nbsp;&nbsp;
 &nbsp;&nbsp;&nbsp;&nbsp;
 
  <div class="columns" style="width: 100%;height: 100%;align-items: center;">
    <ul class="price">
      <li class="header">{{plas.planName}}</li>
      <li class="grey">Rs.{{plas.amount}}</li>
      <li class="highlight"><b> {{plas.data}}</b></li>
      <li class="highlight"><b> Validity:{{plas.validity}}</b></li>
      <li class="highlight"><b>Plan_Id:{{plas.planId}}</b></li>
      </ul>
  </div>

      </div>
  </div><br><br><br><br><br><br><br><br><br><br><br>
</body>