
    

<link href='https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css'>
<link href='https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js'>
<body>
<header id="header" class="d-flex align-items-center">
    <div class="container d-flex align-items-center">
  
      <div class="logo mr-auto">
        <h1 class="text-light" ><a href="index.html"><span>VOIZFONICA</span></a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
      </div>
  
      <nav class="nav-menu d-none d-lg-block">
        <ul><br>
          <!-- <li class="active"><a href="">View Bill</a></li> -->
          <!-- <li class="active"><a href="">Manage Accounts</a></li> -->
          <li class="active"><button id="p" type="button" class="btn btn-link" (click)="gotomanage(use.emailId)">||  Manage Accounts  || </button></li>
          <!-- <li class="active"><a href="">New Connection</a></li> -->
          <li class="active"> <button id="p" type="button" class="btn btn-link">  New Connection  || </button></li>
          <!-- <li class="active"> </li> -->
          <li class="active"> <button id="p" type="button" class="btn btn-link" (click)="gotorecharge()">  Recharge || </button></li> 
          <!-- <li class="active"><a href="http://localhost:4401/login">Help and Support</a></li> -->
          <li class="active"><button id="p" type="button" class="btn btn-link" (click)="gotofaqs()">  Help  ||</button></li>
          <!-- <li class="active"><a href="#portfolio">Services</a></li> -->
         
          <!-- <li class="active"><a href="http://localhost:4401/main">Logout</a></li> -->
          <li class="active"><button id="p" type="button" class="btn btn-link" (click)="gotomain()">  Logout  ||</button></li>
          <!-- <li class="active"><button type="submit" class="btn btn-secondary" (click)="gotomodify()">View Profile</button></li>&nbsp;&nbsp; -->
          <!-- <li style="text-align: right;" class="active"><a  href="#" >Welcome {{use.firstName}}</a></li> -->
          <li class="active"><button id="p" type="button" class="btn btn-secondary" (click)="gotoview()">{{use.firstName}} </button></li>
          <!-- <li class="active"><button type="submit" class="btn btn-secondary" (click)="gotomodify()">Welcome {{use.firstName}}</button></li> -->
        </ul>
      </nav>
  
    </div>
  </header>
<body>
    
    <br><hr>
    <legend>
    <div > <h1 style="background-color: rgb(203, 209, 209);"><strong>POSTPAID PLANS</strong></h1>    </div>   
    </legend>                
<!-- PRICING TABLE STYLE 1-->
 <div class="container">
     <div class="row">
         <div class="col-md-3 col-sm-6 col-xs-12 float-shadow">        
             <div class="price_table_container">
                 <div class="price_table_heading">INFINITY FAMILY</div>
                 <div class="price_table_body">
                     <div class="price_table_row cost warning-bg"><strong><h1>RS.399 </h1></strong><span><h1><strong>/MONTH</strong></h1></span></div>
                     <!-- <div class="price_table_row">RS.499</div> -->
                     <div class="price_table_row">1 Regular SIM</div>
                     <div class="price_table_row">40GB Per Month</div>
                     <div class="price_table_row">Unlimited Local/STD/Roaming Calls</div>
                   
                     <div class="price_table_row">100 SMS PER DAY</div>
                     <div class="price_table_row">Validity:30 Days</div>
                     <div class="price_table_row">24/7 Customer Support</div>
                     <!-- <div class="price_table_row">10 Email Addresses</div>
                     <div class="price_table_row">Free Backup</div>
                     <div class="price_table_row">Full Time Support</div>                                                 -->
                 </div>
                 <!-- <a href="#" class="btn btn-warning btn-lg btn-block">BUY NOW</a> -->
                 <button class="btn btn-success btn-round m-top-40" id="PO399" (click)="gotoplan('PO399')">Buy Now</button>
             </div>
         </div>
 
         <div class="col-md-3 col-sm-6 col-xs-12 float-shadow">
             <div class="recommended"><strong><span class="glyphicon glyphicon-heart" aria-hidden="true"></span> PREMIUM</strong></div>                              
             <div class="price_table_container">
                 <div class="price_table_heading">INFINITY FAMILY</div>
                 <div class="price_table_body">
                     <div class="price_table_row cost primary-bg"><strong><h1>RS.499</h1></strong><span><h1><strong>/MONTH</strong></h1></span></div>
                     <div class="price_table_row">1 Regular SIM</div>
                     <div class="price_table_row">75GB Per Month</div>
                     <div class="price_table_row">Unlimited Local/STD/Roaming Calls</div>
                     <div class="price_table_row">100 SMS PER DAY</div>
                     <div class="price_table_row">Validity:30 Days</div>
                     
                     <div class="price_table_row">24/7 Customer Support</div>
                     <!-- <div class="price_table_row">50 Email Addresses</div>
                     <div class="price_table_row">Free Backup</div>
                     <div class="price_table_row">Full Time Support</div>                                                 -->
                 </div>
                 <!-- <a href="#" class="btn btn-primary btn-lg btn-block">BUY NOW</a> -->
                 <button class="btn btn-success btn-round m-top-40" id="PO499" (click)="gotoplan('PO499')">Buy Now</button>
             </div>
         </div>
 
         <div class="col-md-3 col-sm-6 col-xs-12 float-shadow">        
             <div class="price_table_container">
                 <div class="price_table_heading"> FAMILY INFINITY</div>
                 <div class="price_table_body">
                     <div class="price_table_row cost success-bg"><strong><h1>RS.749</h1></strong><span><h1><strong>/MONTH</strong></h1></span></div>
                     <div class="price_table_row">1 Regular SIM + 1 Family Add-ons</div>
                     <div class="price_table_row">125GB Per Month </div>
                     <div class="price_table_row">Unlimited Local/STD/Roaming Calls</div>
                     <div class="price_table_row">100 SMS PER DAY</div>
                     <div class="price_table_row">Validity:30 Days</div>
                    
                     <div class="price_table_row">24/7 Customer Support</div>
                     <!-- <div class="price_table_row">100 Email Addresses</div>
                     <div class="price_table_row">Free Backup</div>
                     <div class="price_table_row">Full Time Support</div>                                                 -->
                 </div>
                 <!-- <a href="#" class="btn btn-success btn-lg btn-block">BUY NOW</a> -->
                 <button class="btn btn-success btn-round m-top-40" id="PO749" (click)="gotoplan('PO749')">Buy Now</button>
             </div>
         </div>
 
         <div class="col-md-3 col-sm-6 col-xs-12 float-shadow">        
             <div class="price_table_container">
                 <div class="price_table_heading">FAMILLY INFINITY</div>
                 <div class="price_table_body">
                     <div class="price_table_row cost info-bg"><strong><h1>RS.999</h1></strong><span><h1><strong>/MONTH</strong></h1></span></div>
                     <div class="price_table_row">1 Regular SIM + 3 Family Add-ons</div>
                     <div class="price_table_row">150GB Per Month</div>
                     <div class="price_table_row">Unlimited Local/STD/Roaming Calls</div>
                     <div class="price_table_row">100 SMS PER DAY</div>

                     <div class="price_table_row">Validity:30 Days</div>
                  
                     <div class="price_table_row">24/7 Customer Support</div>
                     <!-- <div class="price_table_row">1000 Email Addresses</div>
                     <div class="price_table_row">Free Backup</div>
                     <div class="price_table_row">Full Time Support</div>                                                 -->
                 </div>
                 <button class="btn btn-success btn-round m-top-40" id="PO999" (click)="gotoplan('PO999')">Buy Now</button>
             </div>
         </div>
     </div>
 </div>
 <!-- PRICING TABLE STYLE 1-->
 
 <!-- SPACER-->
 <div class="spacer"></div>
 <!-- SPACER-->


 <hr>
        
 <legend>
    <!-- <div style="text-align: center;margin-top: 150px; margin-bottom:100px"> | <a href="http://bootstrapthemes.co/"target="_blank"> Snippet By Bootstrapthemes.co </a> |</div> -->
    <div > <h1 style="background-color: rgb(203, 209, 209);"><strong>ADD ONS</strong></h1>    </div>   
 </legend>          
         <!-- PRICING TABLE STYLE 1-->
          <div class="container">
              <div class="row">
                  <div class="col-md-3 col-sm-6 col-xs-12 float-shadow">        
                      <div class="price_table_container">
                          <div class="price_table_heading">Starter</div>
                          <div class="price_table_body">
                              <div class="price_table_row cost warning-bg"><strong><h1>RS.99 ONLY</h1></strong><span><h1><strong>/MONTH</strong></h1></span></div>
                              <div class="price_table_row">1GB/PER DAY</div>
                             
                              <!-- <div class="price_table_row">10 Email Addresses</div>
                              <div class="price_table_row">Free Backup</div>
                              <div class="price_table_row">Full Time Support</div>                                                 -->
                          </div>
                          <!-- <a href="#" class="btn btn-warning btn-lg btn-block">BUY NOW</a> -->
                          <button class="btn btn-success btn-round m-top-40" id="POSA99" (click)="gotoplan('POSA99')">Buy Now</button>
                      </div>
                  </div>
          
                  <div class="col-md-3 col-sm-6 col-xs-12 float-shadow">
                      <div class="recommended"><strong><span class="glyphicon glyphicon-heart" aria-hidden="true"></span> RECOMMENDED</strong></div>                              
                      <div class="price_table_container">
                          <div class="price_table_heading">Basic</div>
                          <div class="price_table_body">
                              <div class="price_table_row cost primary-bg"><strong><h1>RS.199 ONLY</h1></strong><span><h1><strong>/MONTH</strong></h1></span></div>
                              <div class="price_table_row">1.5GB/PER DAY</div>
                             
                              <!-- <div class="price_table_row">50 Email Addresses</div>
                              <div class="price_table_row">Free Backup</div>
                              <div class="price_table_row">Full Time Support</div>                                                 -->
                          </div>
                          <!-- <a href="#" class="btn btn-primary btn-lg btn-block">BUY NOW</a> -->
                          <button class="btn btn-success btn-round m-top-40" id="POSA199" (click)="gotoplan('POSA199')">Buy Now</button>
                      </div>
                  </div>
          
                  <div class="col-md-3 col-sm-6 col-xs-12 float-shadow">        
                      <div class="price_table_container">
                          <div class="price_table_heading">Premium</div>
                          <div class="price_table_body">
                              <div class="price_table_row cost success-bg"><strong><h1>RS.299 ONLY</h1></strong><span><h1><strong>/MONTH</strong></h1></span></div>
                              <div class="price_table_row">2GB/PER DAY</div>
                           
                              <!-- <div class="price_table_row">100 Email Addresses</div>
                              <div class="price_table_row">Free Backup</div>
                              <div class="price_table_row">Full Time Support</div>                                                 -->
                          </div>
                          <!-- <a href="#" class="btn btn-success btn-lg btn-block">BUY NOW</a> -->
                          <button class="btn btn-success btn-round m-top-40" id="POSA299" (click)="gotoplan('POSA299')">Buy Now</button>
                      </div>
                  </div>
          
                  <div class="col-md-3 col-sm-6 col-xs-12 float-shadow">        
                      <div class="price_table_container">
                          <div class="price_table_heading">Master</div>
                          <div class="price_table_body">
                              <div class="price_table_row cost info-bg"><strong><h1>RS.399 ONLY</h1></strong><span><h1><strong>/MONTH</strong></h1></span></div>
                              <div class="price_table_row">3GB/PER DAY</div>
                             
                              <!-- <div class="price_table_row">1000 Email Addresses</div>
                              <div class="price_table_row">Free Backup</div>
                              <div class="price_table_row">Full Time Support</div>                                                 -->
                          </div>
                          <!-- <a href="#" class="btn btn-info btn-lg btn-block">BUY NOW</a> -->
                          <button class="btn btn-success btn-round m-top-40" id="POSA399" (click)="gotoplan('POSA399')">Buy Now</button>
                      </div>
                  </div>
              </div>
          </div>
          <!-- PRICING TABLE STYLE 1-->
          
          <!-- SPACER-->
          <div class="spacer"></div>
          <hr>
                   <legend>
                    <!-- <div style="text-align: center;margin-top: 150px; margin-bottom:100px"> | <a href="http://bootstrapthemes.co/"target="_blank"> Snippet By Bootstrapthemes.co </a> |</div> -->
                    <div > <h1 style="background-color: rgb(203, 209, 209);"><strong>OFFERS</strong></h1>    </div>   
                 </legend> <hr>

                 <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
                 <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
                 <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
                 <!------ Include the above in your HEAD tag ---------->
                 
                 <div class="container">
                     <div class="row">
                         
                         
                         <table  class="points_table" style="width: 1100px;">
                             <thead >
                                 <tr>
                                     <th class="col-xs-2">Id</th>
                                     <!-- <th class="col-xs-2">Offer_Id</th> -->
                                     <th class="col-xs-2">Offer_Name</th>
                                     <th class="col-xs-2">Amount</th>
                                     <th class="col-xs-2">Data</th>
                                     <th class="col-xs-2">Validity</th>
                                     <th class="col-xs-2">Actions</th>
                                     
                                 </tr>
                             </thead>
                 
                             <tbody *ngFor="let serv of servs" >
                 
                                 <tr  *ngIf="serv.type=='Postpaid'"  class="odd">
                                     <td class="col-xs-2">{{serv.id}}</td>
                                     <td class="col-xs-2">{{serv.offerName}}</td>
                                     <td class="col-xs-2">{{serv.amount}}</td>
                                     <td class="col-xs-2">{{serv.data}}</td>
                                     <td class="col-xs-2">{{serv.validity}}</td>
                                     <!-- <td class="col-xs-2">{{servs.id}}</td> -->
                                     <td class="col-xs-2"><button type="button" class="btn btn-danger" (click)="gotoplan1(serv.offerId)">Buy</button></td>

                                 </tr>
                 
                             
                                 
                             </tbody>
                         </table>
                     </div>
                 </div>
                 <br><br><br>
          <!-- SPACER--></body>