
<body>
    

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<br>
<h1 style="font-weight: bold;font-size: 30px;background-color: #575353;color: floralwhite; font-style: initial;"><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <strong><b>Add-Ons</b></strong><br><br></h1><br>
<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans:Condensed" />
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,800' rel='stylesheet' type='text/css'>
   
<div id="plan">
  <div class="title">
    <h1>Rs.28 <span>/month</span></h1>
    <p>Simple</p>

  </div>
<div class="containDetails">
<ul class="details">
  <li class="first">AD28 <span>Add On Id</span></li>
  <li>2GB<span>Data</span></li>
  <li>30 Days <span>Validity</span></li>
  
</ul>
  </div>
  <div class="end">
    <div class="select">
    
    <button class="button button-flat-royal button-pill" (click)="gotoplan('AD28')">Buy Plan</button>
    </div></div>
</div>


<div id="plan">
    <div class="title">
      <h1>Rs.58 <span>/month</span></h1>
      <p>Gold</p>
  
    </div>
  <div class="containDetails">
  <ul class="details">
    <li class="first">AD58 <span>Add On Id</span></li>
    <li>5GB<span>Data</span></li>
    <li>30 Days <span>Validity</span></li>
    </ul>
    </div>
    <div class="end">
      <div class="select">
      <button class="button button-flat-royal button-pill" (click)="gotoplan('AD58')">Buy Plan</button>  
    </div></div>
  </div>

  <div id="plan">
    <div class="title">
      <h1>Rs.98 <span>/month</span></h1>
      <p>Plus</p>
  
    </div>
  <div class="containDetails">
  <ul class="details">
    <li class="first">AD98 <span>Add On Id</span></li>
    <li>9GB<span>Data</span></li>
    <li>30 Days <span>Validity</span></li>
  </ul>
    </div>
    <div class="end">
      <div class="select">
      <button class="button button-flat-royal button-pill" (click)="gotoplan('AD98')">Buy Plan</button> 
    </div></div>
  </div>
<br>
  <div id="plan">
    <div class="title">
      <h1>Rs.10 <span>/Day</span></h1>
      <p>Simple</p>
  
    </div>
  <div class="containDetails">
  <ul class="details">
    <li class="first">SMS10 <span>Add On Id</span></li>
    <li>100<span>SMS</span></li>
    <li>1 Day <span>Validity</span></li>&nbsp;&nbsp;&nbsp;
  </ul>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </div>
    <div class="end">&nbsp;&nbsp;&nbsp;&nbsp;
      <div class="select">
      &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;
      <button class="button button-flat-royal button-pill" (click)="gotoplan('SMS10')">Buy Plan</button>  
    </div></div>
  </div>
  
  
  <div id="plan">
      <div class="title">
        <h1>Rs.30 <span>/week</span></h1>
        <p>Gold</p>
    
      </div>
    <div class="containDetails">
    <ul class="details">
      <li class="first">SMS30 <span>Add On Id</span></li>
      <li>200<span>SMS</span></li>
      <li>7 Days <span>Validity</span></li>&nbsp;&nbsp;&nbsp;
     </ul>
      </div>
      <div class="end">
        <div class="select">
        <button class="button button-flat-royal button-pill" (click)="gotoplan('SMS30')">Buy Plan</button>   
    </div></div>
    </div>
  
    <div id="plan">
      <div class="title">
        <h1>Rs.88 <span>/month</span></h1>
        <p>Plus</p>
    
      </div>
    <div class="containDetails">
    <ul class="details">
      <li class="first">SMS88 <span>Add On Id</span></li>
      <li>500<span>SMS</span></li>
      <li>9 Days <span>Validity</span></li>
      </ul>
      </div>
      <div class="end">
        <div class="select">
        <button class="button button-flat-royal button-pill" (click)="gotoplan('SMS88')">Buy Plan</button>   
    </div></div>
    </div>
</body>