

  <header id="header" class="d-flex align-items-center">
    <div class="container d-flex align-items-center">
  
      <div class="logo mr-auto">
        <h1 class="text-light" ><a href="index.html"><span>VOIZFONICA</span></a></h1>
        
      </div>
  
      <nav class="nav-menu d-none d-lg-block">
        <ul><br>
          
          <li class="active"><button id="p" type="button" class="btn btn-link" (click)="gotooffers()"> Offers  || </button></li>
          <li class="active"><button id="p" type="button" class="btn btn-link" (click)="gotomain()">  Logout  </button></li>
        
        </ul>
      </nav>
  
    </div>
  </header>
  <!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  
  <table class="table">
    <thead>
      <tr>
          <th>Id</th>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Email</th>
        <th>Mobile No.</th>
        <th>City</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
        
      <tr *ngFor="let user of users">
        <td>{{user.id}}</td>
        <td>{{user.firstName}}</td>
        <td>{{user.lastName}}</td>
        <td>{{user.emailId}}</td>
        <td>{{user.phoneNo}}</td>
        <td>{{user.city}}</td>
        <td>

            <button type="button" class="btn btn-info" (click)="gotomodify1(user.emailId)">Update</button>
<button type="button" class="btn btn-warning" (click)="delUser(user.id)">Delete</button>

        </td>
      </tr>    
   
    </tbody>
  </table>
  <button type="button" class="btn btn-danger" (click)="gotoregister()">Add Customer</button>
</div>

</body>
</html>

