
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <meta content="" name="descriptison">
  <meta content="" name="keywords">
</head>

<body>
  <header id="header" class="d-flex align-items-center">
    <div class="container d-flex align-items-center">

      <div class="logo mr-auto">
        <h1 class="text-light"><a href="index.html"><span>VOIZFONICA</span></a></h1>
      </div>

      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li class="active"><a href="http://localhost:4401/aboutus">About Us</a></li>
          <li class="active"><a href="http://localhost:4401/registration">Register</a></li>
          <li class="active"><a href="http://localhost:4401/login">User Login</a></li>
          <li class="active"><a href="http://localhost:4401/adminlogin">Admin Login</a>
         
          </li>

          
          <li class="active"><a href="http://localhost:4401/serv">Services</a></li>
         
          <li class="active"><a href="http://localhost:4401/contact">Contact Us</a></li>
          

        </ul>
      </nav>

    </div>
  </header>
  <div class="wrap">

    
    <section id="hero">
      <div class="hero-container" data-aos="fade-up">
        <h1>Start your new digital experience with <span>VOIZFONICA</span></h1>
        <h2>STAY SAFE....STAY CONNECTED</h2> 
        <a href="http://localhost:4401/registration" class="btn-get-started scrollto" >Get Started</a>
      </div>
    </section>

    
    

    <div class="container">
     
      <div id="myCarousel" class="carousel slide" data-ride="carousel">

      </div>
    </div>