<h1 style="background-color: lightsteelblue;">Live Chat</h1>
<div class="chatbox">
    <div class="chats">
        <ul style="width:60%; margin-left:-15px;" id="convo">
            
        </ul>
    </div>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <div class="chatInput">
        <div class="messageBoxLayout">
            
            <input type="text" name="messagebox"  class="chattextarea" id="data">
            <button class="sendbutton" (click)="datasendfun()">Send</button>
        </div>
    </div>
</div>